﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="frmRptbyType.aspx.cs" Inherits="testchai.frmRptbyType" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:DropDownList ID="DropDownList1" runat="server" Height="30px" Width="173px">
        </asp:DropDownList>
        <asp:Button ID="Button1" runat="server" style="font-weight: 700" 
            Text="Retrieve Data" Width="168px" onclick="Button1_Click" />
        <br />
        <br />
    
    </div>
    <asp:GridView ID="GridView1" runat="server" Height="474px" Width="921px" >
    </asp:GridView>
    <asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/Default.aspx">Back to Main Page</asp:HyperLink>
    </form>
</body>
</html>
