﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="frmRptByMonth.aspx.cs" Inherits="testchai.frmRptByMonth" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <p>
        <br />
    </p>
    <form id="form1" runat="server">
    <p>
        <asp:DropDownList ID="DropDownList1" runat="server" Height="18px" Width="174px">
        </asp:DropDownList>
&nbsp;<asp:Button ID="Button1" runat="server" style="font-weight: 700" 
            Text="Retrieve Data" Width="203px" onclick="Button1_Click" />
    </p>
    <p>
        <asp:GridView ID="GridView1" runat="server" Height="416px" Width="894px">
        </asp:GridView>
    </p>
    <p>
        &nbsp;</p>
    <div>
    
        <asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/Default.aspx">Back to Main Page</asp:HyperLink>
    
    </div>
    </form>
</body>
</html>
