﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="frmSalesReport.aspx.cs" Inherits="testchai.frmSalesReport" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <br />
        <br />
        <br />
        <asp:DropDownList ID="cboproduct" runat="server" Height="21px" Width="173px">
        </asp:DropDownList>
        <asp:Button ID="Button1" runat="server" style="font-weight: 700" 
            Text="Retrieve Data" Width="216px" onclick="Button1_Click" />
    
    </div>
    <br />
    <br />
    <br />
    <asp:GridView ID="GridView1" runat="server" EmptyDataText=" No Records Found" 
        Height="309px" Width="959px" 
       >
    </asp:GridView>
    <br />
    <br />
    <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Default.aspx">Back to Main Page</asp:HyperLink>
    <br />
    <br />
    </form>
</body>
</html>
